<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://orcid.org/0000-0001-5275-6553",
  "name": "{{ site.author.name | escape }}",
  "givenName": "Jan Henrik",
  "familyName": "Gundelsby",
  "jobTitle": "Head of Knowit Research",
  "worksFor": {
    "@type": "Organization",
    "name": "Knowit Solutions",
    "url": "https://www.knowit.no/"
  },
  "url": "{{ site.url | absolute_url }}",
  "image": "{{ site.photo | relative_url | absolute_url }}",
  "email": "{{ site.author.email }}",
  "identifier": {
    "@type": "PropertyValue",
    "propertyID": "ORCID",
    "value": "0000-0001-5275-6553"
  },
  "sameAs": [
    "https://orcid.org/0000-0001-5275-6553",
    "https://www.semanticscholar.org/author/117950039",
    "https://www.knowit.no/om-oss/forskning/",
    "https://scholar.google.com/citations?user=4bw3LsEAAAAJ",
    "https://www.linkedin.com/in/{{ site.social.linkedin }}",
    "https://github.com/{{ site.social.github }}"
  ]
}
</script>
