{% assign identity = site.data.publications.identity -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": {{ identity.orcid_url | jsonify }},
      "name": {{ identity.name | jsonify }},
      "givenName": {{ identity.given_name | jsonify }},
      "familyName": {{ identity.family_name | jsonify }},
      "affiliation": {
        "@type": "Organization",
        "name": {{ identity.affiliation.name | jsonify }},
        "url": {{ identity.affiliation.url | jsonify }}
      },
      "jobTitle": {{ identity.job_title | jsonify }},
      "description": {{ identity.description | jsonify }},
      "sameAs": [
        {{ identity.orcid_url | jsonify }},
        {{ identity.semantic_scholar_url | jsonify }},
        {{ identity.knowit_url | jsonify }},
        {{ identity.linkedin_url | jsonify }},
        {{ identity.github_url | jsonify }}
      ]
    }{% if site.data.publications.works.size > 0 %},{% endif %}
    {% for publication in site.data.publications.works %}
    {
      "@type": "ScholarlyArticle",
      "@id": {{ publication.doi | prepend: "https://doi.org/" | jsonify }},
      "name": {{ publication.title | jsonify }},
      "datePublished": {{ publication.year | jsonify }},
      "isPartOf": {
        "@type": "CreativeWork",
        "name": {{ publication.venue | jsonify }}
      },
      "identifier": {
        "@type": "PropertyValue",
        "propertyID": "DOI",
        "value": {{ publication.doi | jsonify }},
        "url": {{ publication.doi | prepend: "https://doi.org/" | jsonify }}
      },
      "author": [
        {% for author in publication.authors %}
        {
          "@type": "Person"{% if author.orcid %},
          "@id": {{ identity.orcid_url | jsonify }}{% endif %},
          "name": {{ author.name | jsonify }}
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>
