<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": "https://orcid.org/0000-0001-5275-6553",
      "name": "Jan Henrik Gundelsby",
      "givenName": "Jan Henrik",
      "familyName": "Gundelsby",
      "affiliation": {
        "@type": "Organization",
        "name": "Knowit",
        "url": "https://www.knowit.no/"
      },
      "jobTitle": "Head of Knowit Research",
      "description": "PhD researcher focused on large-scale agile and AI-human collaboration",
      "sameAs": [
        "https://orcid.org/0000-0001-5275-6553",
        "https://www.semanticscholar.org/author/117950039",
        "https://www.knowit.no/om-oss/forskning/",
        "https://www.linkedin.com/in/janhenrikgundelsby/",
        "https://github.com/janhenrik"
      ]
    },
    {
      "@type": "ScholarlyArticle",
      "@id": "https://doi.org/10.13140/rg.2.2.19621.67040",
      "name": "\"I'll Ask AI First\": How GenAI Disrupts Collaboration in Agile Teams",
      "datePublished": "2026",
      "isPartOf": {
        "@type": "CreativeWork",
        "name": "Preprint"
      },
      "identifier": {
        "@type": "PropertyValue",
        "propertyID": "DOI",
        "value": "10.13140/rg.2.2.19621.67040",
        "url": "https://doi.org/10.13140/rg.2.2.19621.67040"
      },
      "author": [
        {
          "@type": "Person",
          "@id": "https://orcid.org/0000-0001-5275-6553",
          "name": "Gundelsby, Jan Henrik"
        },
        {
          "@type": "Person",
          "name": "Berntzen, Marthe"
        },
        {
          "@type": "Person",
          "name": "C. Grøneng"
        },
        {
          "@type": "Person",
          "name": "D. Vigeland"
        }
      ]
    },
    {
      "@type": "ScholarlyArticle",
      "@id": "https://doi.org/10.1007/978-3-031-72781-8_4",
      "name": "Responsible AI in Agile Software Engineering — An Industry Perspective",
      "datePublished": "2025",
      "isPartOf": {
        "@type": "CreativeWork",
        "name": "LNBIP (Int. Conf. Agile Software Development / XP)"
      },
      "identifier": {
        "@type": "PropertyValue",
        "propertyID": "DOI",
        "value": "10.1007/978-3-031-72781-8_4",
        "url": "https://doi.org/10.1007/978-3-031-72781-8_4"
      },
      "author": [
        {
          "@type": "Person",
          "name": "R. Ulfsnes"
        },
        {
          "@type": "Person",
          "name": "Moe, Nils Brede"
        },
        {
          "@type": "Person",
          "name": "J. Emmerhoff"
        },
        {
          "@type": "Person",
          "name": "M. Floryan"
        },
        {
          "@type": "Person",
          "name": "A. Griva"
        },
        {
          "@type": "Person",
          "@id": "https://orcid.org/0000-0001-5275-6553",
          "name": "Gundelsby, Jan Henrik"
        }
      ]
    },
    {
      "@type": "ScholarlyArticle",
      "@id": "https://doi.org/10.1109/vissoft67405.2025.00011",
      "name": "DebtQuest: Discover Technical Debt Management Issues with Survey Visualization",
      "datePublished": "2025",
      "isPartOf": {
        "@type": "CreativeWork",
        "name": "IEEE Working Conf. on Software Visualization (VISSOFT)"
      },
      "identifier": {
        "@type": "PropertyValue",
        "propertyID": "DOI",
        "value": "10.1109/vissoft67405.2025.00011",
        "url": "https://doi.org/10.1109/vissoft67405.2025.00011"
      },
      "author": [
        {
          "@type": "Person",
          "name": "M. Irgens"
        },
        {
          "@type": "Person",
          "name": "M. Orucevic"
        },
        {
          "@type": "Person",
          "name": "M. Boye"
        },
        {
          "@type": "Person",
          "@id": "https://orcid.org/0000-0001-5275-6553",
          "name": "Gundelsby, Jan Henrik"
        },
        {
          "@type": "Person",
          "name": "A. Martini"
        }
      ]
    },
    {
      "@type": "ScholarlyArticle",
      "@id": "https://doi.org/10.1109/ms.2022.3230449",
      "name": "The Future of Hybrid Software Development: Challenging Current Assumptions",
      "datePublished": "2023",
      "isPartOf": {
        "@type": "CreativeWork",
        "name": "IEEE Software 40(2)"
      },
      "identifier": {
        "@type": "PropertyValue",
        "propertyID": "DOI",
        "value": "10.1109/ms.2022.3230449",
        "url": "https://doi.org/10.1109/ms.2022.3230449"
      },
      "author": [
        {
          "@type": "Person",
          "name": "K. Conboy"
        },
        {
          "@type": "Person",
          "name": "Moe, Nils Brede"
        },
        {
          "@type": "Person",
          "name": "Stray, Viktoria"
        },
        {
          "@type": "Person",
          "@id": "https://orcid.org/0000-0001-5275-6553",
          "name": "Gundelsby, Jan Henrik"
        }
      ]
    },
    {
      "@type": "ScholarlyArticle",
      "@id": "https://doi.org/10.1145/3529320.3529332",
      "name": "How Agile Teams Make Objectives and Key Results (OKRs) Work",
      "datePublished": "2022",
      "isPartOf": {
        "@type": "CreativeWork",
        "name": "ICSSP/ICGSE (Int. Conf. Software and System Processes)"
      },
      "identifier": {
        "@type": "PropertyValue",
        "propertyID": "DOI",
        "value": "10.1145/3529320.3529332",
        "url": "https://doi.org/10.1145/3529320.3529332"
      },
      "author": [
        {
          "@type": "Person",
          "name": "Stray, Viktoria"
        },
        {
          "@type": "Person",
          "@id": "https://orcid.org/0000-0001-5275-6553",
          "name": "Gundelsby, Jan Henrik"
        },
        {
          "@type": "Person",
          "name": "R. Ulfsnes"
        },
        {
          "@type": "Person",
          "name": "Moe, Nils Brede"
        }
      ]
    },
    {
      "@type": "ScholarlyArticle",
      "@id": "https://doi.org/10.1145/3234152.3234183",
      "name": "Enabling Autonomous Teams in Large-Scale Agile Through Architectural Principles",
      "datePublished": "2018",
      "isPartOf": {
        "@type": "CreativeWork",
        "name": "XP Companion (19th Int. Conf. Agile Software Development)"
      },
      "identifier": {
        "@type": "PropertyValue",
        "propertyID": "DOI",
        "value": "10.1145/3234152.3234183",
        "url": "https://doi.org/10.1145/3234152.3234183"
      },
      "author": [
        {
          "@type": "Person",
          "@id": "https://orcid.org/0000-0001-5275-6553",
          "name": "Gundelsby, Jan Henrik"
        }
      ]
    }
  ]
}
</script>
